#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define HOST_OS 2
#include "zmk-helpers/helper.h"

#include "combos.dtsi"

/* Layers */

#define DEFAULT 0
#define SYSTEM 1

/* Timings */

#define QUICK_TAP_MS 175

/* Reconfigurations */

&caps_word {
	/delete-property/ ignore-modifiers; // By default, Caps Word continue on all mods (requires ZMK-AUTO-LAYER or PR #1451)
};
&sk {
	quick-release; // No double capitalization when rolling keys
};

/* Smart Shift */

ZMK_ADAPTIVE_KEY(smart_shift,
	bindings = <&ht_kp_shiftdance LEFT_SHIFT 0>;
)
ZMK_HOLD_TAP(ht_kp_shiftdance,
	flavor = "balanced";
	tapping-term-ms = <200>;
	quick-tap-ms = <QUICK_TAP_MS>;
	bindings = <&kp>, <&shift_dance>;
)
ZMK_TAP_DANCE(shift_dance,
	tapping-term-ms = <400>;
	bindings = <&sk LEFT_SHIFT>, <&caps_word>, <&kp CAPSLOCK>;
)
