#include "config.dtsi"

// Make sure that there are no other imports, otherwise the config will be overwritten (e.g., behavior reconfigurations)
/ {
  keymap {
    compatible = "zmk,keymap";

    default {
      bindings = <
        &ag_grave                &ag_n1                &ag_n2     &ag_n3   &ag_n4   &ag_n5   &ag_n6      &ag_n7   &ag_n8      &ag_n9    &ag_n0          &ag_minus             &ag_equal                &ag_backspace
        &ag_tab                  &ag_q                 &ag_w      &ag_e    &ag_r    &ag_t    &ag_y       &ag_u    &ag_i       &ag_o     &ag_p           &ag_left_bracket      &ag_right_bracket        &ag_backslash
        &ht_mo_kp NAV ESCAPE     &ag_a                 &ag_s      &ag_d    &ag_f    &ag_g    &ag_h       &ag_j    &ag_k       &ag_l     &ag_semicolon   &ag_single_quote                               &ag_return
        &smart_shift             &ag_z                 &ag_x      &ag_c    &ag_v    &ag_b    &ag_n       &ag_m    &ag_comma   &ag_dot   &ag_slash                                                      &smart_shift
        &ht_kp_sk LCTRL LSHIFT   &ht_kp_sk LALT LALT   &kp LGUI                              &ag_space                                  &kp LGUI        &ht_kp_sk LALT LALT   &ht_kp_sk LCTRL LSHIFT   &mo SYSTEM
      >;
    };
    nav {
      bindings = <
        &trans        &trans   &trans   &trans   &trans   &trans   &trans     &trans     &trans   &trans      &trans   &trans   &trans   &trans
        &trans        &trans   &trans   &trans   &trans   &trans   &trans     &trans     &trans   &trans      &trans   &trans   &trans   &trans
        &to DEFAULT   &trans   &trans   &trans   &trans   &trans   &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &trans   &trans            &trans
        &trans        &trans   &trans   &trans   &trans   &trans   &trans     &trans     &trans   &trans      &trans                     &trans
        &trans        &trans   &trans                              &trans                                     &trans   &trans   &trans   &trans
      >;
    };
    system {
      bindings = <
        &trans       &kp F1         &kp F2         &kp F3         &kp F4         &kp F5            &kp F6            &kp F7            &kp F8            &kp F9            &kp F10   &kp F11   &kp F12   &bootloader
        &trans       &trans         &trans         &trans         &trans         &rgb_ug RGB_HUI   &rgb_ug RGB_SAI   &rgb_ug RGB_BRI   &rgb_ug RGB_SPI   &rgb_ug RGB_EFF   &trans    &trans    &trans    &trans
        &bt BT_CLR   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &rgb_ug RGB_HUD   &rgb_ug RGB_SAD   &rgb_ug RGB_BRD   &rgb_ug RGB_SPD   &rgb_ug RGB_EFR   &trans    &trans              &trans
        &trans       &trans         &trans         &trans         &trans         &trans            &trans            &trans            &trans            &trans            &trans                        &trans
        &trans       &trans         &trans                                                         &rgb_ug RGB_TOG                                                         &trans    &trans    &trans    &trans
      >;
    };
  };
};
